<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/frontend.css">
    <title>{TITLE}</title>
</head>
<body>
<div class="head">
    <div id="staty">
    <a href="#slide-1">Francie</a>
    <a href="#slide-2">Rusko</a>
    <a href="#slide-3">Kazachstán</a>
    <a href="#slide-4">Polsko</a>
    <a href="#slide-5">Bulharsko</a>
    <a href="#slide-6">Německo</a>
    <a href="#slide-7">Slovensko</a>
    <a href="#slide-8">Slovinsko</a>
    <a href="#slide-9">Finsko</a>
    <a href="#slide-10">China</a>
</div>
</div>

<div class="slider">

    <div class="slides">
        {STATY}
    </div>
  </div>
</body>
</html>